<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name ="J2EENorthwind" 
         connectionString="Data Source=www.j2ee.ca;database=northwind;
         Trusted_Connection=no; uid=aspx;password=aspx"
         providerName="System.Data.SqlClient"/>
    <add name ="MyConn" connectionString="Data Source=.\;Initial Catalog=NORTHWND;Integrated Security=True"
          providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>